footer {
  text-align: center;
  background: #f4f4f4;
  padding: 50px 0px;
}

footer .footer-logo {
  color: #555;
  display: block;
}

footer p.copyright-text {
  margin-top: 15px;
  margin-bottom: 0;
}

footer p.copyright-text,
footer p.theme-credit {
  font-weight: 300;
  font-size: 12px;
  color: #888;
  letter-spacing: 3px;
}

footer p.copyright-text a,
footer p.theme-credit a {
  color: #282828;
}

footer p.copyright-text a:hover,
footer p.theme-credit a:hover {
  text-decoration: none;
}


.footer-menu a {
  font-size: 14;
  font-weight: 700;
  color: #444;
  padding: 10px;
}

